/*twitter*/

.twitter-timeline{
    margin: auto;
    margin-right: 5px;
}

/*images and gallery*/

#home-carousel{
    width: 200px;
    height: auto;
    margin: auto;
}

.gallery-img{
    width: 100%;
}

#img-gallery{
    padding: 10px;
}

#img--gallery.row{
    margin-bottom: 10px;
}

img {
    width: 200px;
    border-radius: 10px;
}

a:visited, a:link {
    color: #ff9b8e;
}

/*header*/

header{
    text-align: left;
    padding: 4px;
    padding-left: 1%;
    margin: 3px;
    padding-bottom: 6px;
}

#logo{
    height: 50px;
    width: 60px;
    float: left;
    margin-right: 10px;
}

/*body*/

body{
    margin: 20px;
    background-color: #ff2664;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffcdb2
}

h1{
    font-size: xx-large;
    display: inline;
    text-align: center;
}

h3{
    font-size: x-large;
    text-align: center;
}

p{
    font-size: medium;
    text-align: center;
}

main{
    background-color: #ff7477;
    border-radius: 10px;
}

aside{
    background-color: #ff7477;
}

footer{
    background-color: #ff4d6d;
    border-radius: 10px;
}

/*navigation bar*/

nav ul{
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}

nav li{
    border: 2px solid #ff7477;
    background-color: #ff4d6d;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav li a{
    color: #ff9b8e;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: #ff4d6d;
}

.active{
    background-color: #ff4d6d;
}

/*event table*/

table{
    margin: auto;
    font: optional;
    border-collapse: collapse;
    color: #ffcdb2;
    
}

table td,table th{
    border: 5px solid #ffcdb2;

}

table tr:nth-child(even){
    background-color: #ff4d6d;
}

table tr:hover{
    background-color: #ff4d6d;
}

table th{
    background-color: #ff7477;
    color: #ffcdb2;
}

.Event{
    margin: 30px
}

/*fieldset*/

fieldset{
    color: #ffcdb2;
}

/*aside*/

aside{
    margin: 5px;
    border-radius: 20px
}

/*Teto Plush*/

#tetoplush{
    margin: 10px;
    margin-right: auto;
}

#plushtext{
    margin-right: 300px;
}